.hero {
  padding-top: 0;
  background-color: var(--footerColor--);
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/backgraund.jpg);
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  width: 600px;
  text-align: center;
  color: var(--white--);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.button {
  @extend %button;
}
